body{
	background-color: #1d6868;
	margin: 0px;
	font-family: Verdana, Georgia, serif;
	font-size: 14px;

}

#header{
	background-color: #c4ffff;
	margin: 10px;
	height: 90px;
	border-radius: 5px;

}

.sidebar{
	background-color: #e2f2f2;
	margin-left:10px;
	margin-right: 10px;
	margin-top:0px;
	margin-bottom:10px;
	padding: 20px;
	float: left;
	width: 260px;
	border-radius: 5px;

}

.sidebar .caption{
	font-weight: bold;
	padding: 3px 6px 3px;
}

.main{
	background-color: #e2f2f2;
	margin-left:320px;
	margin-right: 10px;
	margin-top:10px;
	margin-bottom:10px;
	border-radius: 5px;
	padding:20px;
	font-size:110%;

}

h1{
	font-size:120%;
	color:#ae3030;
}
